@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
:root {
  font-size: 100%;
  font-size: 16px;
  line-height: 1.5;
  --primary-blue: #233975;
}

/* Common Style */

body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
h1 {
  font-size: 1.8rem;
  font-weight: 700;
}
h2 {
  font-size: 1.5rem;
  font-weight: 700;
}
a {
  text-decoration: none;
  color: var(--primary-blue);
}
a:hover {
  text-decoration: underline;
}

/*.small {
    font-size: 80%;
    text-align = center;
}*/

.split-screen {
  display: flex;
  flex-direction: column;
}

.left,
.right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.right .copy {
  color: black;
  text-align: center;
}
.right .copy p {
  margin: 1.5em 0;
  font-size: 0.875rem;
}
.right form {
  width: 328px;
}
form {
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}
form input[type="text"] {
  display: block;
  width: 100%;
  box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid #c4c4c4;
  padding: 1em;
  margin-bottom: 0.5rem;
  font-size: 0.875rem;
}
label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 0.75rem;
}

.input-err {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 450;
  font-size: 11px;
  color: red;
  margin-bottom: 0.5rem;
}
.input-valid {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 450;
  font-size: 11px;
  color: green;
  margin-bottom: 0.5rem;
}
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkbox-container {
  display: flex;
  position: relative;
  padding-left: 2rem;
  cursor: pointer;
  user-select: none;
  margin: 0 0 1.25rem 0;
}
.checkbox-container input:checked ~ .checkmark {
  background-color: var(--primary-blue);
  border: 1px solid var(--primary-blue);
}
.checkmark {
  position: absolute;
  width: 24px;
  height: 24px;
  background: white;
  border: 1px solid #c4c4c4;
  border-radius: 2px;
  top: -4px;
  left: 0;
}
.checkmark::after {
  content: "";
  position: absolute;
  display: none;
}
.checkbox-container input:checked ~ .checkmark::after {
  display: flex;
}
.checkbox-container .checkmark::after {
  border: solid white;
  border-width: 0 3px 3px 0;
  width: 5px;
  height: 10px;
  left: 8px;
  top: 4px;
  transform: rotate(45deg);
}
.register-btn {
  display: block;
  width: 100%;
  background: var(--primary-blue);
  color: white;
  font-weight: 700;
  border: none;
  padding: 1rem;
  border-radius: 8px;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
.register-btn:hover {
  background: #2c4893;
  cursor: pointer;
}

.radio-checkbox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid #c4c4c4;
  padding: 1em;
  margin-bottom: 0.5rem;
  font-size: 0.875rem;
}

.gender {
  display: flex;
  flex-direction: column;
  width: calc(100% / 2 - 20px);
}
.degree {
  width: calc(100% / 2 - 20px);
}

.radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.radio-container {
  display: flex;
  position: relative;
  padding-left: 2rem;
  cursor: pointer;
  user-select: none;
  margin: 0 0 1.25rem 0;
}
.radio-container input:checked ~ .radiomark {
  background-color: var(--primary-blue);
  border: 1px solid var(--primary-blue);
}
.radiomark {
  position: absolute;
  width: 24px;
  height: 24px;
  background: white;
  border: 1px solid #c4c4c4;
  border-radius: 50px;
  top: -4px;
  left: 0;
}
.radiomark::after {
  content: "";
  position: absolute;
  display: none;
}
.radio-container input:checked ~ .radiomark::after {
  display: flex;
}
.radio-container .radiomark::after {
  border: solid #2c4893;
  background-color: white;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  left: 4.5px;
  top: 4.5px;
}

form select {
  display: block;
  width: 100%;
  box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid #c4c4c4;
  padding: 1em;
  margin-bottom: 0.5rem;
  font-size: 0.875rem;
}

.dob {
  display: flex;
  flex-direction: column;
}

.date {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.date-container {
  width: calc(100% / 3 - 10px);
}

form input[type="password"] {
  display: block;
  width: 100%;
  box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid #c4c4c4;
  padding: 1em;
  margin-bottom: 0.5rem;
  font-size: 0.875rem;
}

/* Client Header Start */

.header {
  display: block;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.header hr {
  display: block;
  border: 1px solid #2c4893;
}
.header .block-description-one {
  width: 24%;
  float: left;
  margin-left: 15%;
  margin-top: 15px;
}
.header .block-description-one a:hover {
  text-decoration: none;
}

.header .block-description-two {
  width: 24%;
  float: right;
  margin-right: 15%;
}
.header .block-description-two a {
  display: block;
  color: black;
}
.header .block-description-two ul {
  float: right;
}
.header .block-description-two ul li {
  display: inline-block;
  color: black;
}
.header .block-description-two ul li a {
  box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid #c4c4c4;
  border-color: var(--primary-blue);
  padding: 10px;
}

.header .block-description-two ul li a:hover {
  border-color: none;
  background-color: #2c4893;
  color: #ffff;
  text-decoration: none;
}

/* Client Header End */

/* Portal Header Start */

.portal-header {
  display: block;
  justify-content: center;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  margin-bottom: 10px;
}

.portal-header .block-description-one {
  margin-top: 10px;
  margin-left: 10%;
  width: 24%;
  float: left;
}
.portal-header .block-description-one a:hover {
  text-decoration: none;
}

.portal-header .block-description-two {
  width: 24%;
  float: right;
  margin-right: 10%;
}
.portal-header .block-description-two span {
  float: left;
}
.portal-header .block-description-two ul {
  float: right;
}
.portal-header .block-description-two ul li {
  display: inline-block;
  color: black;
}
.portal-header .block-description-two ul li a {
  color: #2c4893;
  padding: 10px;
}

.portal-header .block-description-two ul li a:hover {
  color: #404041;
  text-decoration: none;
}

/* Portal Header End */

/* Footer Start */

.footer {
  display: block;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.footer hr {
  display: block;
  border: 1px solid #2c4893;
}
.footer .block-description-one {
  width: 24%;
  float: left;
  margin-left: 15%;
}

.footer .block-description-two {
  width: 25%;
  float: right;
  margin-right: 15%;
}
.footer .block-description-two a {
  display: block;
  color: black;
}
/* Footer End */

/* Portal Footer Start */

.portal-footer {
  display: block;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.portal-footer hr {
  display: block;
  border: 1px solid #2c4893;
}
.portal-footer .block-description-one {
  width: 24%;
  float: left;
  margin-left: 10%;
}

.portal-footer .block-description-two {
  width: 25%;
  float: right;
  margin-right: 10%;
}
.portal-footer .block-description-two a {
  display: block;
  color: black;
}
/* portal Footer End */


/* Portal Start */
.container {
  display: block;
  margin-left: 10%;
  margin-right: 10%;
}

.container .nav-bar {
  width: 20%;
  float: left;
  justify-content: center;
  align-items: center;
}
.container .portal-body {
  width: 78%;
  float: right;
  font-weight: normal;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #c4c4c4;
  background-color: #ffff;
  min-height: 50vh;
}

.container .nav-bar ul {
  padding-left: 0%;
  margin-top: 0%;
  width: 100%;
}

.container .nav-bar ul li {
  display: block;
  color: black;
  margin-bottom: 2.5%;
}
.container .nav-bar ul li a {
  display: flex;
  justify-content: center;
  color: #233975;
  border: 1px solid #2c4893;
  padding: 10px;
  border-radius: 5px;
}

.container .nav-bar ul li a:hover {
  border-color: none;
  background-color: #2c4893;
  color: #ffff;
  text-decoration: none;
}

.container .portal-body .profile-container  {
  display: block;
  justify-content: center;
  align-items: center;
}

.container .portal-body .profile-container .title{
  width: 100%;
  margin-top: 0;
  font-size: 20px;
}
.container .portal-body .profile-container .title p{
  margin-top: 0;
  font-size: 20px;
}
.container .portal-body .profile-container .blocks {
  display: flex;
}
.container .portal-body .profile-container .blocks .block-one{
  float: left;
  width: 70%;

}
.container .portal-body .profile-container .blocks .block-two{
  float: right;
  width: 30%;
}
.container .portal-body .profile-container .blocks .block-one .fields
{
  display: flex;
}
.container .portal-body .profile-container .blocks .block-one .fields .name
{
  margin-right: 2%;
  float: left;
  width: 30%;
}
.container .portal-body .profile-container .blocks .block-one .fields .name span
{

  float: right;
}
.container .portal-body .profile-container .blocks .block-one .fields .value
{
  float: right;
  width: 70%;
}




.container .portal-body .profile-container .blocks .block-one form {
  padding: 10px;
  border-radius: none;
  box-shadow: none;
  margin: 0;
}
.container .portal-body .profile-container .blocks .block-one form input[type="text"] {
  display: block;
  width: 70%;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #c4c4c4;
  padding: 5px;
  margin-bottom: none;
  font-size: normal;
}
.container .portal-body .profile-container .blocks .block-one form input[type="date"] {
  display: block;
  width: 70%;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #c4c4c4;
  padding: 5px;
  margin-bottom: none;
  font-size: normal;
}

.portal-submit-btn {
  display: block;
  width: 20%;
  background: var(--primary-blue);
  color: white;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  margin-left: 40%;
  margin-right: 40%;
  padding: 5px;
}
.portal-submit-btn:hover {
  background: #2c4893;
  cursor: pointer;
}

.portal-normal-btn {
  display: block;
  width: 20%;
  background: #ffff;
  border: 1px solid #c4c4c4;
  color: black;
  font-weight: 700;
  border-radius: 5px;
  margin-top: 10px;
  margin-left: 40%;
  margin-right: 40%;
  padding: 5px;
}
.portal-normal-btn:hover {
  background: #c4c4c4;
  color: black;
  cursor: pointer;
}


.container .portal-body form {
  padding: 10px;
  border-radius: none;
  box-shadow: none;
  margin: 0;
}
.container .portal-body  form input[type="text"] {
  display: block;
  width: 70%;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #c4c4c4;
  padding: 5px;
  margin-bottom: none;
  font-size: normal;
}


hr {
  color: #fcfcfc;
}

/* Portal End */
