@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
:root {
  font-size: 100%;
  font-size: 16px;
  line-height: 1.5;
  --primary-blue: #233975;
}
.portal-body {
  display: block;
  justify-content: center;
  align-items: center;
}

.portal-body .page-title p
{
    display: block;
    margin-top: 0%;
    font-size: large;
}

.portal-body .page-items {
    display: flex;
}
.portal-body .page-items .block-one {
    width: 50%;
    float: left;
}

.portal-body .page-items .block-two {
    width: 50%;
    float: right;
}

.portal-body .buttons-block {
    display: block;
    width: 100%
}

.inputErr {
    color: red;
}

.after-submit {
    border: 1px solid rgb(219, 216, 216);
    color: #1909af;
}

#managers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #managers td, #managers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #managers tr:nth-child(even){background-color: #f2f2f2;}
  
  #cusmanagerstomers tr:hover {background-color: #ddd;}
  
  #managers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color:var(--primary-blue);
    color: white;
  }
  #managers td img {
    height: 50px;
    width: 50px;
  }
